@import url(header.css);
@import url(menu.css);
@import url(page.css);
@import url(footer.css);
@import url(linecolors.css);

@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Light.ttf") format("truetype");
}

html {
    height: 100vh;
    font-family: "roboto";
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

#app_body {
    display: flex;
    flex-grow: 1;
    z-index: 1;
    padding-bottom: 32px;
    overflow: scroll;
}

@media screen and (max-width: 500px) {
    #app_body {
        flex-direction: column;
    }
}