#footer {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 32px;
    bottom: 0;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 2;
}

#footer div {
    padding-left: 8px;
    padding-right: 8px;
}