#footer {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 32px;
    bottom: 0;
    align-items: center;
    z-index: 2;
    background-color: white;
}

#footer>div {
    padding-left: 8px;
    padding-right: 8px;
}

#footer .left {
    display: flex;
    flex-grow: 1;
}

#footer .right {
    display: flex;
}

@media screen and (max-width: 500px) {
    #footer #app_shortcut {
        display: none;
    }
}