#header {
    display: flex;
    justify-content: space-between;
    height: 32px;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    background-color: cornsilk;
    box-shadow: 1px 1px 2px #bbb;
    z-index: 3;
}

#header #app_name {
    cursor: pointer;
}

#header .left {
    display: flex;
}

#header .right {
    display: flex;
}

#header .right div {
    padding-left: 4px;
    padding-right: 4px;
}