#header {
    display: flex;
    justify-content: space-between;
    height: 32px;
    min-height: 32px;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    background-color: cornsilk;
    box-shadow: 1px 1px 2px #bbb;
    z-index: 3;
}

#header #app_name {
    min-width: 150px;
    margin-right: 8px;
    cursor: pointer;
}

#header #app_search {
    border: none;
    border-bottom: 1px solid #aaa;
    border-radius: 2px;
}

#header .left {
    display: flex;
}

#header .right {
    display: flex;
}

#header .right div {
    padding-left: 4px;
    padding-right: 4px;
}

@media screen and (max-width: 500px) {
    #header #app_search {
        display: none;
    }
}