#menu {
    min-width: 150px;
    padding: 4px 4px 4px 8px;
    background-color: ivory;
}

#menu .jselement.menu-item {
    height: 20px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

#menu .jselement.menu-item:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

#menu .jselement.menu-item.menu-select {
    text-decoration: underline;
    text-underline-offset: 4px;
}

#menu .jselement.menu-item.menu-highlight {
    color: turquoise;
}

@media screen and (max-width: 500px) {
    #menu {
        display: flex;
        flex-wrap: wrap;
    }

    #menu .jselement.menu-item {
        flex-grow: 1;
    }
}